<div class="flex flex-col flex-1 overflow-hidden pt-[60px]">
  <!-- Sección de Bienvenida -->
  <header class="text-center p-12 bg-gradient-to-r from-purple-500 via-indigo-500 to-blue-500 rounded-lg shadow-lg">
    <h1 class="text-5xl font-extrabold text-white mb-4">Iconos para Desarrolladores</h1>
    <p class="text-xl text-white mb-4">Recursos libres de iconos para tus aplicaciones y proyectos web</p>
    <p class="text-md text-white opacity-80">Una plataforma sencilla y eficiente para encontrar y consumir iconos de calidad a través de nuestra API.</p>
  </header>

  <!-- Sección Características -->
  <section class="bg-gray-50 py-12 px-4">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-4xl font-bold text-gray-800 mb-8">Características del Proyecto</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex items-center space-x-4">
          <i class="fas fa-search text-3xl text-indigo-600"></i>
          <p class="text-lg text-gray-600">Acceso Sencillo: Encuentra iconos por nombre y categoría con nuestra intuitiva API.</p>
        </div>
        <div class="flex items-center space-x-4">
          <i class="fas fa-laptop-code text-3xl text-indigo-600"></i>
          <p class="text-lg text-gray-600">Interfaz Intuitiva: Fácil de usar para desarrolladores de todos los niveles.</p>
        </div>
        <div class="flex items-center space-x-4">
          <i class="fas fa-filter text-3xl text-indigo-600"></i>
          <p class="text-lg text-gray-600">Filtrado y Búsqueda: Busca iconos por nombre, categoría y más.</p>
        </div>
        <div class="flex items-center space-x-4">
          <i class="fas fa-cogs text-3xl text-indigo-600"></i>
          <p class="text-lg text-gray-600">Tecnologías Usadas: Construido con Angular 17, TailwindCSS y la API de Iconfinder.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección de Llamado a la Acción -->
  <section class="py-12 px-4 text-center bg-gradient-to-r from-blue-400 to-indigo-500 rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-white mb-4">¿Listo para comenzar?</h2>
    <p class="text-lg text-white mb-4">Explora nuestra API, encuentra los iconos perfectos y comienza a integrarlos en tus proyectos hoy mismo.</p>
    <a href="#api" class="inline-block bg-indigo-600 text-white py-2 px-6 rounded-full text-xl font-semibold hover:bg-indigo-700 transition duration-300">Comienza Ahora</a>
  </section>
</div>

<!-- Agregar FontAwesome para los íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
